.streamer-info {
  display: flex;
  color: var(--font);
  font-family: "Poppins", sans-serif;
  background-color: rgba(16 18 27 / 40%);
  border-radius: 14px;
  backdrop-filter: blur(20px);
  width: 80vw;
  margin-top: 30px;
  padding: 2em;
}

.streamer-info__right-content {
  margin-left: 40px;
  line-height: 26pt;
}

.streamer-list-item.small {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: var(--font);
  box-shadow: none;
  transition: 0.3s ease-out;
  backdrop-filter: none;

  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(92, 96, 114, 0.274);
  height: initial;
  min-width: 250px;
  min-height: 300px;
  border-radius: 2em;
  padding: 1em 1em 0 1em;
}

.streamer-list-item.small:hover{
  transform: none;
}

.streamer-list-item__platform.small{
  margin-bottom: 30px;
}

.streamer-list-item__image.small {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 20px;
}

.streamer-info__image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}