.dropdown-control__select {
  display: block;
  width: 100%;
  font-size: 15px;
  height: 41px;
  border-radius: 4px;
  padding: 5px 0 5px 10px;
  font-family: "Poppins", sans-serif;
}

.dropdown-control__select,
.dropdown-control__item-container {
  text-transform: capitalize;
}

.dropdown-control__select_placeholder {
  color: var(--grey);
}

.dropdown-control__select:focus {
  outline: none;
}