.button {
  justify-content: center;
  display: flex;
  transition: 0.3s;
  min-width: 41px;
  min-height: 37px;
  padding: 4px 7px;
  cursor: pointer;
  font-size: 16px;
  font-family: "Poppins";
  align-items: center;
  border: none;
}

.button:disabled {
  color: var(--grey);
  cursor: not-allowed;
}

.button:disabled:hover {
  background: #fff;
}