.streamer-list-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0 0 0;
  width: 270px;
  height: 500px;
  color: #eff0f1;
  font-family: "Poppins", sans-serif;
  background-color: rgba(16 18 27 / 40%);
  border-radius: 14px;
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
  transition: 0.3s ease-out;
  backdrop-filter: blur(20px);
}

.streamer-list-item__image {
  width: 135px;
  height: 135px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 20px;
}

.streamer-list-item:hover {
  transform: translateX(-5px) translateY(-5px);
  box-shadow: rgba(240, 46, 170, 0.4) 25px 25px, rgba(240, 46, 170, 0.3) 25px 25px, rgba(240, 46, 170, 0.2) 35px 35px, rgba(240, 46, 170, 0.1) 45px 45px, rgba(240, 46, 170, 0.05) 45px 45px;
}

.streamer-list-item__button {
  background-color: transparent;
  color: #6f769f;
  transition: 0.3s;
  border-bottom: 2px transparent solid;
  font-size: 18px;
  height: 80px;
  width: 100%;
}

.streamer-list-item__details {
  position: absolute;
  background-color: transparent;
  color: #6f769f;
  transition: 0.3s;
  font-size: 44px;
  width: 20px;
  height: 10px;
  right: 4%;
  top: 0%;
}

.streamer-list-item__details:hover {
  color: #f2f3f5;
}

.streamer-list-item__button:hover {
  border-bottom: 2px white solid;
  color: #f2f3f5;
}

.streamer-list-item__bottom-content {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.streamer-list-item__top-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}