.header {
  justify-content: center;
  display: flex;
  height: 80px;
  background-color: rgba(16 18 27 / 40%);
  align-items: center;
  backdrop-filter: blur(20px);
}

.header__wrapper {
  display: flex;
  gap: 30px;
  width: 1140px;
  align-items: center;
  justify-content: space-between;
}

.header__title {
  font-size: 32px;
  line-height: 44px;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

.header__logo {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 0.5em;
  transition: 0.3s ease-out;
}

.header__logo:hover {
  background: #455666;
}

.header__link {
  text-decoration: none;
}

.header__content-left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__add-streamer-btn {
  background-color: transparent;
  color: #6d759e;
  border: none;
  width: 150px;
  height: 80px;
  font-weight: bolder;
  transition: 0.3s;
  border-bottom: 2px transparent solid;
}

.header__add-streamer-btn:hover {
  border-bottom: 2px white solid;
  color: #f2f3f5;
}